<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.project.funding.mapper.MemberMapper">

    <insert id="save" parameterType="me.project.funding.dto.MemberDTO">
        insert into member (member_no, id, pw, name, email, nick, phone, grade)
        values (member_seq.nextval, #{id}, #{pw}, #{name}, #{email}, #{nick}, #{phone}, #{grade} )
    </insert>

    <select id="idCheck" parameterType="string" resultType="int">
        select count(*)
        from member
        where id = #{id}
    </select>

</mapper>